@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background: linear-gradient(249.92deg, #1C3575 16.2%, #000000 95.17%);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}